/* Debian language css file for persian - fa */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes */
html[lang=fa] q:before { content: "\00AB"; }
html[lang=fa] q:after { content: "\00BB"; }

html[lang=fa] blockquote.quote p:first-child:before { content: "\00AB"; }
html[lang=fa] blockquote.quote p:after { content: ""; }
html[lang=fa] blockquote.quote p.last:after { content: "\00BB"; }

/* This part add by Ebraminio and Meisam Khezerloo 2011 */
/* If you find problem in persian css contact debian-l10n-persian mailing list */

html[lang=fa] #header {
	padding:0 52px 0 10px;
}
html[lang=fa] #logo {
	left: auto;
	right: 0;
	direction: ltr;
}
html[lang=fa] #searchbox {
	left: 0;
	right: auto;
}
html[lang=fa] #navbar li {
	float: right;
}
html[lang=fa] #content,
html[lang=fa] #footer {
	margin:0 52px 0 10px;
}
html[lang=fa] #langContainer {
	direction: ltr;
	text-align: right;
}
html[lang=fa] ul#hometoc-cola, html[lang=fa] ul#hometoc-colb, 
html[lang=fa] ul#hometoc-colc, html[lang=fa] ul#hometoc-cold,
html[lang=fa] ul#hometoc-cole {
	float: right;
}
html[lang=fa] ul#footermap-cola, html[lang=fa] ul#footermap-colb,
html[lang=fa] ul#footermap-colc, html[lang=fa] ul#footermap-cold,
html[lang=fa] ul#footermap-cole {
	float: right;
}
html[lang=fa] ol,
html[lang=fa] ul {
	padding-right: 1.5em;
	padding-left: 0;
}
html[lang=fa] span.download {
	left: 13px;
	right: auto;
}
html[lang=fa] a.rss_logo {
	float: left;
}
html[lang=fa] ol {
	list-style-type: -moz-persian;
	list-style-type: persian;
}
html[lang=fa] body {
	font-family: Tahoma, 'DejaVu Sans', sans-serif;
}

/* --- */
html[lang=fa] #header, html[lang=fa] #footer,
html[lang=fa] #breadcrumbs, html[lang=fa] #second-nav, 
html[lang=fa] #navbar ul, html[lang=fa] h1, h2, h3, h4, h5, h6 {
	direction: rtl;
	font-family: Tahoma, 'DejaVu Sans', sans-serif;
}

/* Change the direction of "Animating Underlines" from LTR to RTL */
html[lang=fa] .styled-href-blue a::after,
html[lang=fa] .project-news-content a::after {
	right: 0;
}

/* Adjust padding direction of "Project News" section on the home page. */
html[lang=fa] .project-news {
	margin-left: 0;
	margin-right: 15%;
}
html[lang=fa] .project-news-content {
	padding-left: 0;
	padding-right: 110px;
}
html[lang=fa] a:link.rss_logo {
	float: left;
	margin-left: 0;
	margin-right: 0.25em;
}
html[lang=fa] .end-of-list-arrow {
	-moz-transform: rotate(180deg);
	left: 0;
	right: 3.5em;
}

/* Adjust the slider's direction on the home page. */
html[lang=fa] .slider-wrapper, 
html[lang=fa] .slider-prev-next-control,
html[lang=fa] .slider-dot-control {
	direction: ltr;
}
