/* Debian language css file for russian - ru */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes ok */
html[lang=ru] q:before { content: "\00AB"; }
html[lang=ru] q:after { content: "\00BB"; }
html[lang=ru] q q:before { content: "\201E"; }
html[lang=ru] q q:after { content: "\201C"; }

html[lang=ru] blockquote.quote p:first-child:before { content: "\00AB"; }
html[lang=ru] blockquote.quote p:after { content: ""; }
html[lang=ru] blockquote.quote p.last:after { content: "\00BB"; }
